<%- include('partials/header') %>

<h1><%= title %></h1>

<% if(cards.length ===0){ %>
  <p>Votre deck est vide</p>
<% } %>

<div class="cardsContainer">
  <% cards.forEach( (card) => { %>

    <div class="card">
      <a href="/cards/<%= card.id %>">
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        <p class="cardName"><%= card.name %> (niv. <%= card.level %>)</p>
      </a>

      <% if(deck.find((deckCard) => deckCard === card.id)){ %>
        <a class="link--deleteCard" title="Ajouter au deck" href="/deck/delete/<%= card.id %>">[ - ]</a>
      <% } else { %>
        <a class="link--addCard" title="Ajouter au deck" href="/deck/add/<%= card.id %>">[ + ]</a>
      <% } %>

    </div>

  <% }) %>
</div>


<%- include('partials/footer') %>